div.boxContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 275px;
  max-width: 300px;
}

div.cardContainer {
  border-radius: 8px;
  transition: all 300ms ease;
  cursor: pointer;
}

div.cardContainer:hover {
  background: #f2f6ff;
  border: 1px solid #cddbff;
  box-shadow: 0 0 0 1px #cddbff;
}

div.title {
  margin-bottom: 1rem;
}
