/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --test: #98e1ff;
  --ifm-color-primary: #18c6ff;
  --ifm-color-primary-dark: #0098ef;
  --ifm-color-primary-darker: #0069a8;
  --ifm-color-primary-darkest: #002c42;
  --ifm-color-primary-light: #69d7fc;
  --ifm-color-primary-lighter: #98e1ff;
  --ifm-color-primary-lightest: #c4ecfc;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 92%;
  --ifm-z-index-fixed: 200;
  --ifm-font-family-base: Mulish, sans-serif;
  --ifm-paragraph-margin-bottom: 0.5rem;
  --ifm-list-paragraph-margin: 0.2rem;
  letter-spacing: 0px;

  --doc-sidebar-width: 260px !important;
  --ifm-tabs-padding-vertical: 0.5rem !important;
  --ifm-navbar-height: 3rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #86f2dd;
  --ifm-color-primary-dark: #4bb1ec;
  --ifm-color-primary-darker: #0098ef;
  --ifm-color-primary-darkest: #0175b8;
  --ifm-color-primary-light: #b6c7f3;
  --ifm-color-primary-lighter: #c7d4f6;
  --ifm-color-primary-lightest: #f9fafe;
  --ifm-background-color: #1f2765;

  --ifm-color-success-dark: rgb(0, 139, 0);
  --ifm-color-success-darker: rgb(0, 139, 0);
  --ifm-color-success-darkest: rgb(0, 115, 0);
  --ifm-color-success-light: rgb(38, 178, 38);
  --ifm-color-success-lighter: rgba(77, 191, 77, 0.212);
  --ifm-color-success-lightest: rgb(128, 210, 128);
}

html[data-theme="dark"] {
  --ifm-background-color: #001f2b;
  --ifm-background-surface-color: #222f3d;
  --ifm-hover-overlay: #ffffff0d;
  --ifm-color-content: #e3e3e3;
  --ifm-color-content-secondary: #fff;
  --ifm-link-color: #86f2dd;
  --ifm-tabs-color-active-border: #86f2dd;
  --ifm-tabs-color-active: #86f2dd;
  --ifm-code-background: #fafafa28;
  --ifm-breadcrumb-color-active: #86f2dd;
  --ifm-menu-color-active: #86f2dd;
  --docusaurus-collapse-button-bg: #001f2b !important;
  --ifm-toc-border-color: #001f2b;
}

/* custom sidebar menu */
.theme-doc-sidebar-container {
  border-right: none !important;
}

.theme-doc-sidebar-item-category-level-1 > div > a,
.theme-doc-sidebar-item-category-level-1 > div > a:hover {
  color: var(--ifm-menu-color-active);
  padding-top: 1.4rem;
}

.theme-doc-sidebar-item-category-level-1 > div:hover {
  background: none;
  color: var(--ifm-color-primary);
}

.menu__link {
  font-size: 0.9rem;
}

.menu__list,
.menu__list .menu__list {
  padding-left: 0;
}

.theme-doc-sidebar-item-link-level-3 {
  padding-left: 0.75rem;
}

.theme-doc-sidebar-item-link-level-4 {
  padding-left: 1rem;
}

.navbar--fixed-top {
  justify-items: center;
  align-items: center;
  background-color: #001f2bef;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.1rem;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.4rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.2rem;
}

/* hide home icon in breadcrumbs */
.breadcrumbs li:first-child {
  display: none !important;
}

h1 {
  font-family: Montserrat-ExtraLight !important;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #86f2dd;
  font-family: Montserrat !important;
}

h3 {
  font-family: Montserrat-Medium !important;
}

h4 {
  font-family: Montserrat-SemiBold !important;
}

/* Custom Ordered List  */
.theme-doc-markdown ol:not(.tabs) {
  counter-reset: circle-counter;
  margin-left: 0;
  padding-left: 1rem;
}

.theme-doc-markdown ol li:not(.tabs__item) {
  list-style: none;
  margin-bottom: 0.8rem;
}

.theme-doc-markdown ol li:not(.tabs__item) > p:first-child::before {
  font-size: 0.75rem;
  font-weight: bold;
  counter-increment: circle-counter;
  content: counter(circle-counter);
  background-color: #e1e1e1;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  color: #002c42;
  text-align: center;
  position: relative;
  top: -2px;
  left: -0.5rem;
}

/* Custom Unordered List */
.theme-doc-markdown ul li:not(.tabs__item)::marker {
  color: #909090;
  font-size: 1.1rem;
}

/* Custom sidebar expand button */
.menu {
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu__list-item--collapsed .menu__link--sublist::after,
.menu__list-item--collapsed .menu__caret::before {
  background: url(../../static/img/plus.svg) 50% / 1rem 1rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
}

.menu__link--sublist-caret::after {
  content: "";
  margin-left: auto;
  min-width: 1.25rem;
  filter: none;
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(0turn);
  background: url(../../static/img/minus.svg) 50% / 1rem 1rem;
  transition: all var(--ifm-transition-fast) linear;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  overflow-x: hidden;
}

table,
[data-theme="dark"] table {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  overflow: initial;
  table-layout: fixed;
  text-indent: 0;
  border-collapse: separate;
  border-spacing: 0px;
}

thead tr {
  overflow-x: hidden;
}

thead {
  top: 2.9rem;
  z-index: 20;
  display: block;
  position: sticky;
}

tbody {
  width: 100%;
  display: block;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

table thead tr {
  width: 100%;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

thead tr th,
tbody tr td {
  min-width: 8rem;
  width: 20%;
  max-width: 100%;
  word-break: break-word;
}

thead tr th:first-child,
tbody tr td:first-child {
  min-width: 12rem;
  width: 10%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  thead tr th:first-child,
  tbody tr td:first-child {
    min-width: 13rem;
    width: 10%;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  thead tr th:first-child,
  tbody tr td:first-child {
    min-width: 14rem;
    width: 10%;
    max-width: 100%;
  }
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 30%;
  max-width: 100%;
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
  width: 30%;
  max-width: 100%;
}

thead tr th:nth-child(4),
tbody tr td:nth-child(4) {
  width: 30%;
  max-width: 100%;
}

thead tr::-webkit-scrollbar {
  display: none;
}

table tr:nth-child(2n) {
  background-color: white;
}

[data-theme="dark"] table tr:nth-child(2n) {
  background-color: var(--ifm-table-background);
}

table thead th {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 12px;
  border: none;
  background-color: white;
  border-bottom: 0.9px solid var(--ifm-color-primary-light);
}

[data-theme="dark"] table th {
  background-color: #001f2b;
}

table tbody tr td {
  border: none;
  border-spacing: 0;
  border-top: 1px solid #e5e7eb;
}

[data-theme="dark"] td {
  border-top: 1px solid #a4a2a229;
}

thead tr:first-child {
  border-bottom: none;
}

table tr:first-child td,
table tr:first-child {
  border-top: none;
}

.scrollHint {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 48px;
  height: 48px;
  max-height: 100%;
  background: rgba(211, 211, 211, 0.85);
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
  animation: slide-left 2s ease-in infinite both;
}

[data-theme="dark"] .scrollHint {
  background-color: rgba(199, 199, 199, 0.95);
}

.scrollHint.visible {
  display: flex;
}

.scrollHint.invisible {
  display: none;
}

.scrollHint::before {
  display: block;
  width: 50%;
  height: 50%;
  background: url(../../static/img/swipe-left.png) 50% / contain no-repeat;
  content: "";
}

[data-theme="dark"] .scrollHint::before {
}

.row {
  width: 100%;
}

@-webkit-keyframes slide-left {
  0%,
  30% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    opacity: 0;
  }
}

@keyframes slide-left {
  0%,
  30% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0% {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(6.5px);
    transform: translateX(6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(6.5px);
    transform: translateX(6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}
