@font-face {
  font-family: NotoSansSC;
  src: local("NotoSansSC"), url(/static/font/NotoSansSC-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+2192;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"), url(/static/font/NotoSans-Regular.ttf) format("ttf"),
    url(/static/font/NotoSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Medium;
  src: local("NotoSans-Medium"), url(/static/font/NotoSans-Medium.ttf) format("ttf"),
    url(/static/font/NotoSans-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Thin;
  src: local("NotoSans-Thin"), url(/static/font/NotoSans-Thin.ttf) format("ttf"),
    url(/static/font/NotoSans-Thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-SemiBold;
  src: local("NotoSans-SemiBold"), url(/static/font/NotoSans-SemiBold.ttf) format("ttf"),
    url(/static/font/NotoSans-SemiBold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-ExtraLight;
  src: local("NotoSans-ExtraLight"), url(/static/font/NotoSans-ExtraLight.ttf) format("ttf"),
    url(/static/font/NotoSans-ExtraLight.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(/static/font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(/static/font/Montserrat-Black.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(/static/font/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(/static/font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Thin;
  src: url(/static/font/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(/static/font/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/static/font/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Mulish;
  src: url(/static/font/Mulish-Regular.ttf);
}
