.jsonForms div[id^="#/properties/rowFormat"],
.jsonForms div[id^="#/properties/bootstrapServers"],
.jsonForms div[id^="#/properties/AWSSessionToken"] {
  width: 50%;
}

.jsonForms
  div.MuiAutocomplete-root
  div.MuiTextField-root:has(
    label[id^="#/properties/rowFormat"],
    label[id^="#/properties/SSLandSSALSettings-input-label"],
    label[id^="#/properties/description"]
  ) {
  width: 50%;
}

/* .jsonForms input[disabled] {
  text-align: center;
} */

.jsonForms
  div.MuiGrid-item:has(div[id^="#/properties"], label[id^="#/properties/"]) {
  margin-top: 2px;
  margin-bottom: 2px;
}

.jsonForms .MuiInput-input.Mui-disabled {
  text-align: center;
}
